body {
  font-family: Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  margin:0;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 16px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8
}

button {
  background-color: #3882f6;
  padding: 8px 16px;
  color: #e5e7eb;
  border-radius: 16px;
  border-color: #3882f6;
}

img {
  max-width: 100%;
}

.header,
.footer,
.top-section {
  background: #1f2937;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.footer{
  color: #f9faf8;
  text-align: center;
}

.page-title {
  font-size: 24px;
  color: #f9faf8;
}

.subtext,
.header-links {
  font-size: 18px;
  font-style: italic;
  color: #e5e7eb;
}

.subtext,
.main-img {
  width: auto;
}

.top-section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.mid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 54px;
}

.cards {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-box > * {
  border-radius: 25px;
  border: 2px solid darkred;
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}

.quote-section {
  background: #e5e7eb;
  font-style: italic;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 64px;
}

.quote-text {
  text-align:  justify;
}

.quote-author {
  margin-top: 8px;
  text-align: right;
  font-weight: bolder;

}

.cfa-section {
  background: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 5%;
  padding: 5% 5%;
}

.cfa-head {
  font-size: 36px;
  font-weight: bolder;
  margin: 0;
}

.left {
  text-align: left;
  color: #f9faf8;
}

.cfa-section button {
  border-color: #e5e7eb;
}

.footer{
  padding: 16px;
}