body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  margin:0;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 16px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8
}

button {
  background-color: #3882f6;
  padding: 8px 16px;
  color: #e5e7eb;
  border-radius: 25px;
}

img {
  max-width: 100%;
}

.header,
.footer,
.top-section {
  background: #1f2937;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer{
  color: #f9faf8;
  text-align: center;
}

.page-title {
  font-size: 24px;
  color: #f9faf8;
}

.subtext,
.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.top-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 50%;
}

.mid-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
}

.cards {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-box {
  border-radius: 25px;
  border: 2px solid lightblue;
  width: 200px;
  height: 200px;
}

.quote-section {
  background: #e5e7eb;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  text-align: center;
}

.cfa-section {
  background: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cfa-section button{
  border: #e5e7eb;
}